<div class="row">
          <div class=" sidebar-nav sidebar-expanded d-none d-md-block" id="sidebarMenu">
            <ul class="menu-list">
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-home"></i></span>
                  <span class="menu-text menu-collapsed">Home</span>
                </div>
              </li>
              <li class="list-item submenu-item flex-column align-items-start" data-target="#submenu1" data-toggle="collapse" aria-expanded="false">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-home"></i></span>
                  <span class="menu-text menu-collapsed">Master</span>
                  <span class="submenu-icon ml-auto"></span>
                </div>
                <!-- Submenu content -->
                <div id='submenu1' class="collapse sidebar-submenu w-100">
                <ul class="submenu-list">
                  <li><a href="#!" class="menu-collapsed">Sub menu 1</a></li>
                  <li><a href="#!" class="menu-collapsed">Sub menu 2</a></li>
                  <li><a href="#!" class="menu-collapsed">Sub menu 3</a></li>
                </ul>
              </div>
              </li>

              <li class="list-item">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-user"></i></span>
                  <span class="menu-text menu-collapsed">Candidated</span>
                </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-clock"></i></span>
                  <span class="menu-text menu-collapsed">Timesheets</span>
                </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-calendar-check"></i></span>
                  <span class="menu-text menu-collapsed">Bookings</span>
                </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-history"></i></span>
                  <span class="menu-text menu-collapsed">Historical</span>
                </div>
              </li>
              <li class="list-item submenu-item flex-column align-items-start" data-target="#submenu1" data-toggle="collapse" aria-expanded="false">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-dollar-sign"></i></span>
                  <span class="menu-text menu-collapsed">Invoice</span>
                  <span class="submenu-icon ml-auto"></span>
                </div>
                <!-- Submenu content -->
                <div id='submenu1' class="collapse sidebar-submenu w-100">
                <ul class="submenu-list">
                  <li><a href="#!" class="menu-collapsed">Sub menu 1</a></li>
                  <li><a href="#!" class="menu-collapsed">Sub menu 2</a></li>
                  <li><a href="#!" class="menu-collapsed">Sub menu 3</a></li>
                </ul>
              </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-user-tie"></i></span>
                  <span class="menu-text menu-collapsed">Vacancies</span>
                </div>
              </li>
              <li class="list-item submenu-item flex-column align-items-start" data-target="#submenu1" data-toggle="collapse" aria-expanded="false">
                <div class="d-flex  align-items-center menu-item w-100">
                  <span class="menu-icon"><i class="far fa-file"></i></span>
                  <span class="menu-text menu-collapsed">Reports</span>
                  <span class="submenu-icon ml-auto"></span>
                </div>
                <!-- Submenu content -->
                <div id='submenu1' class="collapse sidebar-submenu w-100">
                <ul class="submenu-list">
                  <li><a href="#!" class="menu-collapsed">Sub menu 1</a></li>
                  <li><a href="#!" class="menu-collapsed">Sub menu 2</a></li>
                  <li><a href="#!" class="menu-collapsed">Sub menu 3</a></li>
                </ul>
              </div>
              </li>
              <li class="list-item">
                <div data-toggle="sidebar-colapse" class="d-flex  align-items-center menu-item w-100">
                  <span id="collapse-icon"><i class="far fa-angle-double-left"></i></span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col p-0 main-content-wrapper">
		<div class="col-12 form-wrapper">
<div class="row">
			      <div class="col-2">
				<div class="form-group">
				  <label>Label</label>
				  <input type="text" class="form-control"/>
		  </div>
		</div>		
		  <div class="col-2">
				<div class="form-group">
				  <label>Label 2</label>
				  <input type="text" class="form-control"/>
		  </div>	
		</div>
		 <div class="col-2">
				<div class="form-group">
				  <label>From</label>
				  <div class="custom-datepicker">
				    <input type="text" class="form-control" placeholder="dd/mm/yyyy"/>
				  </div>
		  </div>
		</div>
		<div class="col-2">
				<div class="form-group">
				  <label>To</label>
				  <div class="custom-datepicker">
				    <input type="text" class="form-control" placeholder="dd/mm/yyyy"/>
				  </div>
		  </div>
		</div>	
		<div class="col-2">
				<div class="form-group">
				  <label>Label3</label>
				  <select class="form-control selectpicker" data-container="body">
					<option>Option1</option>
					<option>Option1</option>
				</select>
		  </div>
		</div>	
		<div class="col-2">
				<div class="form-group">
				  <label>Label3</label>
				  <select class="form-control selectpicker" data-container="body">
					<option>Option1</option>
					<option>Option1</option>
				</select>
		  </div>
		</div>	
</div>
<div class="row">
		<div class="col-2">
				<div class="form-group">
				  <label>Label3</label>
				  <select class="form-control selectpicker" multiple data-selected-text-format="count > 3" data-container="body">
					<option>Option1</option>
					<option>Option2</option>
					<option>Option3</option>
					<option>Option4</option>
					<option>Option5</option>
					<option>Option6</option>
				</select>
		  </div>
		</div>	
		<div class="col-4">
		  <div class="form-group">
		<label>&nbsp;</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Checkbox 1</span>
                </label>
              </div>
            </div>
		</div>

</div>
<div class="row">
<div class="col-12">
  <div class="form-group">
  <label>Comments</label>
   <textarea class="form-control" placeholder="Comments"></textarea>
  </div>
</div>
</div>	
	</div>
	<div class="col-12 common-footer">
		<div class="btn-group float-right">
			<a href="#!" class="btn btn-normal">Cancel</a>
			<a href="#!" class="btn btn-primary">Save</a>
		</div>
	</div>
      </div>
    </div>
    