/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* Custom Fonts */
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-thinitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-mediumitalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-blackitalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #e7e7e7;
}
::-webkit-scrollbar-thumb {
  background: #d1d3d5;
  border: 0;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #b0b0b0 !important;
}
::-moz-placeholder {
  color: #b0b0b0 !important;
}
:-ms-input-placeholder {
  color: #b0b0b0 !important;
}
:-moz-placeholder {
  color: #b0b0b0 !important;
}

/* Common Styles Starts */
* {
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  height: 100%;
  font-family: "roboto";
  font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "roboto";
}
p, li, ul, span, input {
  margin: 0px;
  padding: 0px;
  font-family: "roboto";
  font-weight: 400;
  list-style: none;
}
a {
  color: inherit;
  font-family: "roboto";
  font-weight: 400;
}
a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none !important;
}
submit, buttom, label, input {
  font-family: "roboto";
  font-weight: 400;
  text-decoration: none!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
}
.clear {
  clear: both;
}

/* Buttons Styles Start */
.btn {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  padding: 6px 10px;
  outline: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:focus,
.btn:hover,
.btn:active,
.btn:active:focus {
  outline: none !important;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:not(:disabled) {
  cursor: pointer;
}
.btn-default {
  color: #1a4f85;
  background-color: #fff;
  border: 1px solid #1a4f85;
}
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:active:focus {
  color: #1a4f85;
  background-color: #f4f8fb;
  border-color: #1a4f85;
}
.btn-primary {
  color:#fff;
  background-color: #1a4f85;
  border: 1px solid #1a4f85;
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus {
  color: #fff !important;
  background-color: #003366 !important;
  border-color: #003366 !important;
}
.btn-normal {
  color: #000;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.btn-normal:hover,
.btn-normal:focus,
.btn-normal:active,
.btn-normal:active:focus {
  background-color: #fff;
  border-color: #e6e6e6 !important;
  color: #1a4f85;
}
.btn-lightblue {
  color: #1a4f85;
  background-color: #edf2f9;
  border: 1px solid #b3c9e7;
}
.btn-lightblue:hover,
.btn-lightblue:focus,
.btn-lightblue:active,
.btn-lightblue:active:focus {
  background: #1a4f85;
  color: #fff;
  border: 1px solid #1a4f85;
}

/*Form elements styles Start*/
label{
  color: #808080;
  font-size: 13px;
}
.form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 13px;
  color: #000;
  border: 1px solid #d7dde1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #d7dde1;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
textarea.form-control {
  resize: vertical;
  min-height: 78px;
}
.mandatory {
  color: #f00404;
}
.form-group .input-group{
  width: 100%;
}
.input-group-addon {
  font-size: 13px;
  color: #808080;
  padding: 6px 10px;
  background-color: #f9f9f9;
  border: 1px solid #d7dde1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.input-group-addon i{
  line-height: 14px;
}
.input-group .form-control:not(:first-child):focus {
  border-left: 1px solid #eff1f3;
}
.input-group .form-control + .form-control,
.input-group .form-control + .form-control.bootstrap-select .dropdown-toggle,
.input-group .form-control + .form-control:focus,
.input-group .form-control + .input-group-addon,
.input-group .input-group-addon + .form-control,
.input-group .input-group-addon + .form-control:focus {
  border-left: 0;
}
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.dropdown{
  margin-left: 0;
  border-left: 0;
}
.input-group .input-group-addon:first-child + .form-control{
  border-left: 1px solid #d7dde1;
}
.input-group.colorpicker-component .input-group-addon {
  padding: 4px 4px;
  background-color: #fff;
  color: #808080;
  border-color: #d7dde1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.input-group.colorpicker-component .input-group-addon i{
  display: inline-block;
  cursor: pointer;
  height: 20px;
  vertical-align: text-top;
  width: 20px;
}
.form-group{
  margin-bottom: 10px;
}
.form-group label{
  margin-bottom: 8px;
  line-height: 1;
}
.form-control.has-error,
.dropdown.bootstrap-select.has-error .btn,
.dropdown.bootstrap-select.has-error .btn:hover,
.dropdown.bootstrap-select.has-error .btn:focus {
  border-color: #ff0000;
}
.form-control:disabled,
.form-control:read-only,
.custom-popup input[type="text"]:disabled,
.custom-popup input[type="text"]:read-only,
.custom-popup .form-control:disabled,
.custom-popup .form-control:read-only{
  background-color: #f1f1f1;
}
.bootstrap-select.dropdown.disabled,
.bootstrap-select.dropdown > .disabled {
  background-color: #f1f1f1 !important;
  opacity: 1;
}
/* Tooltip Style Start */
.tooltip-inner {
  padding: 2px 8px;
  background-color: #4d4d4d;
  border-radius: 3px;
  font-size: 11px;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #4d4d4d;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #4d4d4d;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #4d4d4d;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #4d4d4d;
}
/* Tooltip Style End */

/* Checkbox / Radio */
.checkbox, .radio {
  position: relative;
  display: block;
  margin: 0;
}
.checkbox-inline ,
.radio-inline {
  position: relative;
  margin: 0;
  line-height: 18px;
  padding-left: 0px;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio-inline input[type=radio],
.radio input[type=radio] {
  display: none;
}
.radio label,
.checkbox label,
.radio-inline label,
.checkbox-inline label {
  min-height: 12px;
  padding-left: 17px;
}
.checkbox input[type=checkbox]~.text,
.checkbox-inline input[type=checkbox]~.text,
.radio-inline input[type=radio]~.text,
.radio input[type=radio]~.text {
  padding-left: 0px;
  cursor: pointer;
  vertical-align: middle;
  color: #000;
  font-size: 13px;
  line-height: 1;
}
.checkbox input[type=checkbox]~.text:before,
.checkbox-inline input[type=checkbox]~.text:before,
.radio-inline input[type=radio]~.text:before,
.radio input[type=radio]~.text:before {
  position: absolute;
  top: 4px;
  left: 0;
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  font-family: "Font Awesome 5 Pro";
  text-align: left;
  color: #808080;
  vertical-align: middle;
  font-size: 13px;
  line-height: 13px;
}

/* With Fontawesome */
.checkbox-inline input[type=checkbox]~.text:before,
.checkbox input[type=checkbox]~.text:before {
  content: "\f0c8";
  vertical-align: bottom;
  color: #000;
  font-weight: 400;
  font-style: normal;
}
.checkbox-inline input[type=checkbox]:checked~.text:before,
.checkbox input[type=checkbox]:checked~.text:before {
  content: "\f14a";
  color: #1a4f85;
  font-weight: 600;
  font-style: normal;
}
.radio-inline input[type=radio]~.text:before ,
.radio input[type=radio]~.text:before {
  content: "\f111";
  color: #000;
  font-weight: 400;
}
.radio-inline input[type=radio]:checked~.text:before ,
.radio input[type=radio]:checked~.text:before {
  content: "\f192";
  color: #1a4f85;
  font-weight: 400;
}

/* Disabled */
.checkbox input[type=checkbox]:checked[disabled]~.text,
.checkbox-inline input[type=checkbox]:checked[disabled]~.text,
.radio-inline input[type=radio]:checked[disabled]~.text,
.radio input[type=radio]:checked[disabled]~.text,
.checkbox input[type=checkbox]:checked[readonly]~.text,
.checkbox-inline input[type=checkbox]:checked[readonly]~.text,
.radio input[type=radio]:checked[readonly]~.text,
.radio-inline input[type=radio]:checked[readonly]~.text{
  color: #000;
}
.checkbox input[type=checkbox][disabled]~.text,
.checkbox-inline input[type=checkbox][disabled]~.text,
.radio-inline input[type=radio][disabled]~.text,
.radio input[type=radio][disabled]~.text,
.checkbox input[type=checkbox][readonly]~.text,
.checkbox-inline input[type=checkbox][readonly]~.text,
.radio input[type=radio][readonly]~.text,
.radio-inline input[type=radio][readonly]~.text,
.checkbox input[type=checkbox][disabled]~.text:before,
.checkbox-inline input[type=checkbox][disabled]~.text:before,
.radio-inline input[type=radio][disabled]~.text:before,
.radio input[type=radio][disabled]~.text:before,
.checkbox input[type=checkbox][readonly]~.text:before,
.checkbox-inline input[type=checkbox][readonly]~.text:before,
.radio-inline input[type=radio][readonly]~.text:before,
.radio input[type=radio][readonly]~.text:before {
  color: #cacaca;
  cursor: not-allowed;
}

/* Datepicker Style Start */
.ui-datepicker {
  display: none;
  width: 250px;
  padding: 10px 10px;
  background-color: #fff;
  z-index: 9999!important;
  -webkit-box-shadow: 0px 1px 5px 0px #E3E3E3;
  -moz-box-shadow: 0px 1px 5px 0px #E3E3E3;
  -ms-box-shadow: 0px 1px 5px 0px #E3E3E3;
  -o-box-shadow: 0px 1px 5px 0px #E3E3E3;
  box-shadow: 0px 1px 5px 0px #E3E3E3;
}
.ui-datepicker-calendar {
  width: 100%
}
.ui-datepicker-header {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
}
.ui-datepicker-calendar th {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  color: #8b959e;
}
.ui-datepicker-calendar th span {
  font-weight: 600;
}
.ui-datepicker-calendar td {
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 3px 0;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.ui-datepicker-calendar td .ui-state-default {
  width: 25px;
  height: 25px;
  text-align: center;
  display: block;
  padding: 6px 5px;
  font-weight: 600;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto;
  line-height: 1;
}
.ui-datepicker-calendar td:hover {
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
}
.ui-datepicker-calendar td:hover .ui-state-default {
  color: #000;
  background-color: #f4f3f3;
}
.ui-state-active {
  background-color: #1a4f85!important;
  color: #fff;
}
.ui-datepicker-calendar td:hover .ui-state-highlight,
.ui-state-highlight,
.ui-state-highlight:hover,
.ui-datepicker-today,
.ui-datepicker-calendar td:hover .ui-state-active,
.ui-state-active:hover {
  background-color: #1a4f85;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
}
.ui-datepicker-today:hover {
  color: #000;
}
.ui-datepicker-prev {
  float: left;
  margin-top: 0px;
  cursor: pointer;
  margin-left: 5px;
}
.ui-datepicker-next {
  float: right;
  margin-top: 0px;
  cursor: pointer;
  margin-right: 5px;
}
.ui-datepicker-title {
  text-align: center;
  font-size: 13px;
}
.ui-corner-all span {
  font-weight: 600;
  color: #8b959f;
}
.ui-datepicker-next span{
  color: #000;
}
.ui-datepicker-title span {
  color: #000;
  font-weight: 700;
}
.ui-state-disabled {
  color: red;
}
.ui-datepicker-calendar td.ui-datepicker-unselectable {
  color: #c9d2da;
}
.ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker-title select.ui-datepicker-year{
  border: 0;
}
.ui-datepicker-title select.ui-datepicker-month:focus,
.ui-datepicker-title select.ui-datepicker-year:focus{
  outline: 0;
  box-shadow: none;
}
/*datetimepicker styles*/
.ui-datepicker .ui-timepicker-div{
  float: left;
  width: 100%;
}
.ui-datepicker .ui-datepicker-buttonpane button{
  color: #fff;
  background-color: #1a4f85;
  border: 1px solid #1a4f85;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  padding: 3px 10px;
  height: 24px;
  float: left;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
  float: right;
}
.ui-datepicker .ui-datepicker-buttonpane button:hover,
.ui-datepicker .ui-datepicker-buttonpane button:focus{
  color: #fff;
  background-color: #003366;
  border-color: #003366;
}
.ui-datepicker .ui-datepicker-buttonpane{
  float: left;
  width: 100%;
}
.ui-datepicker .ui-timepicker-div dl{
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.ui-datepicker .ui-timepicker-div dl dt,
.ui-datepicker .ui-timepicker-div dl dd{
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 22px;
}
.ui-datepicker .ui-timepicker-div dl dt {
  font-weight: 600;
  padding-top: 3px;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_time_input{
  width: 100%;
  background-color: #fff;
  border: 1px solid #d7dde1;
  font-size: 13px;
  height: 24px;
  padding: 0 10px;
  margin-top: -2px;
}
.ui-datepicker .ui-timepicker-div .ui-slider.ui-slider-horizontal{
  height: 6px;
  width: 100%;
  margin: 8px 0 0;
  background-color: #edf2f9;
  border: 1px solid #b3c9e7;
  border-radius: 4px;
  position: relative;
}
.ui-datepicker .ui-timepicker-div .ui_tpicker_timezone select{
  width: 100%;
  border: 1px solid #d7dde1;
  font-size: 13px;
  height: 24px;
}
.ui-datepicker .ui-timepicker-div .ui-slider.ui-slider-horizontal .ui-slider-handle{
  height: 12px;
  width: 12px;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0%;
  background-color: rgb(26, 79, 133);
  border-radius: 50%;
}

/* Timepicker Style Start */
#ui-timepicker-div {
  display: none;
  width: 300px;
  padding: 0px;
  background-color: #fff;
  z-index: 1051 !important;
  -webkit-box-shadow: 0px 1px 5px 0px #E3E3E3;
  -moz-box-shadow: 0px 1px 5px 0px #E3E3E3;
  -ms-box-shadow: 0px 1px 5px 0px #E3E3E3;
  -o-box-shadow: 0px 1px 5px 0px #E3E3E3;
  box-shadow: 0px 1px 5px 0px #E3E3E3;
}
.ui-timepicker-table,
table.ui-timepicker {
  width: 100% !important;
  border: 0;
  display: table;
}
.ui-timepicker-table th {
  text-align: center;
}
.ui-timepicker-table td.ui-timepicker-minutes {
  padding: 0;
}
.ui-timepicker-table td.ui-timepicker-hours {
  border-right: 1px solid #eeeeee;
  padding: 0;
}
.ui-timepicker-hours .ui-timepicker-title,
.ui-timepicker-minutes .ui-timepicker-title {
  border-bottom: 1px solid #eeeeee;
}
.ui-timepicker-hours .ui-timepicker-title,
.ui-timepicker-minutes .ui-timepicker-title,
.ui-timepicker-hours table.ui-timepicker,
.ui-timepicker-minutes table.ui-timepicker {
  padding: 10px;
  margin: 0;
}
.ui-timepicker-hours table td,
.ui-timepicker-minutes table td {
  width: 30px;
  height: 36px;
  text-align: center;
  padding: 0px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.ui-timepicker-hours table td a,
.ui-timepicker-minutes table td a {
  padding: 3px 1px!important;
  float: none;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.ui-timepicker-table .ui-state-active:hover,
.ui-timepicker-table .ui-state-active:focus {
  color: #fff;
}
.ui-timepicker-hours table td a:hover,
.ui-timepicker-minutes table td a:hover {
  background-color: #f4f3f3;
}
.ui-timepicker-table th.periods {
  border-right: 1px solid #eeeeee;
}
.ui-timepicker-table tr th.periods{
  border-bottom: 1px solid #eeeeee;
}
.ui-timepicker-table tr:nth-child(3) th.periods {
  border-bottom: 0;
}
.ui-timepicker-title {
  font-size: 14px;
}
.ui-timepicker-table .ui-timepicker-title {
  line-height: 10px;
  font-size: 13px;
  font-weight: 600;
}
.ui-timepicker-table th.periods {
  font-size: 13px;
}
.ui-timepicker-table .ui-state-active {
  background-color: #1a4f85!important;
  color: #fff;
}
/* Custom Style for Bootstrap Select */
.dropdown.bootstrap-select .dropdown-toggle {
  border: 1px solid #ebebeb;
  font-size: 13px;
  background-color: #fff;
  color: #000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}
.dropdown.bootstrap-select .dropdown-toggle .filter-option{
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown .dropdown-menu .bs-searchbox{
  border-bottom: 1px solid #ebebeb;
}
.dropdown.bootstrap-select .dropdown-menu {
  overflow: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  padding: 0;
  margin-top: 1px;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li.selected>a,
.dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #000 !important;
  background-color: #f4f8fb !important;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.dropdown.bootstrap-select .dropdown-menu li+ li {
  border-top: 1px solid #ebebeb;
}
.dropdown.bootstrap-select select {
  width: 0 !important;
  height: 0 !important;
}
.dropdown.bootstrap-select > .btn,
.dropdown.multi-select > .btn,
.dropdown.bootstrap-select > .btn:hover,
.dropdown.multi-select > .btn:hover,
.dropdown.open>.dropdown-toggle.btn-default:focus {
  background: #fff;
  color: #000;
  border-color: #d7dde1;
  padding: 6px 10px 6px 10px;
  box-shadow: none !important;
  outline: none!important;
}
.dropdown.bootstrap-select .dropdown-menu li a{
  padding: 6px 10px;
  font-size: 12px;
  white-space: normal;
}
.dropdown.bootstrap-select .dropdown-menu li a,
.dropdown.bootstrap-select .dropdown-menu li a span.text{
  font-size: 12px;
}
.dropdown.bootstrap-select.show-tick .dropdown-menu li.selected a span.check-mark,
.dropdown.bootstrap-select.show-tick .dropdown-menu li a span.check-mark{
  display: inline-block;
  right: auto;
  left: 10px;
  position: absolute;
  top: 6px;
  margin: 0;
}
.dropdown.bootstrap-select.show-tick .dropdown-menu li a span.check-mark:after{
  content:'';
  border:0;
}
.dropdown.bootstrap-select.show-tick .dropdown-menu li a span.check-mark:before{
  content: "\f0c8";
  font-family: "Font Awesome 5 Pro";
}
.dropdown.bootstrap-select.show-tick .dropdown-menu li.selected a span.check-mark:before{
  content: "\f14a";
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  color: #1a4f85;
}
.dropdown.bootstrap-select.show-tick .dropdown-menu li a span.text,
.dropdown.bootstrap-select.show-tick .dropdown-menu li.selected a span.text {
  padding-left: 20px;
  margin: 0;
}
.bs-container.dropdown.bootstrap-select{
  margin-top: 1px;
  z-index: 1060;
  height: auto !important;
}
.bs-container.dropdown.bootstrap-select .dropdown-menu li a{
  white-space: normal;
  word-break: break-word;
}
.bs-container.dropdown.bootstrap-select .dropdown-menu{
  position: absolute;
  width: 100%;
  margin: 0;
}
.bs-container.dropdown.bootstrap-select .dropdown-menu.inner{
  position: static;
}

/*multi-select styles*/
.dropdown.multi-select .dropdown-toggle,
.dropdown.multi-select .dropdown-toggle:hover,
.dropdown.multi-select .dropdown-toggle:focus{
  height: 30px;
  padding: 4px 4px;
}
.dropdown.multi-select .dropdown-toggle .filter-option{
  width: 100% !important;
  padding-right: 28px;
}
.dropdown.multi-select .dropdown-toggle .filter-option .empty-value{
  display: block;
  padding: 2px 6px;
}
.dropdown.multi-select .dropdown-toggle .multi-close{
  height: 20px;
  background-color: #1a4f85;
  color: #fff;
  border-color: #1a4f85;
  font-size: 11px;
  line-height: 12px;
  border-radius: 0;
  margin-right: 4px;
}
.dropdown.multi-select .dropdown-toggle .display-more{
  border-radius: 0;
  font-size: 11px;
  border: 1px solid #1a4f85;
  background-color: transparent;
  color: #1a4f85;
  font-weight: 600;
  height: 20px;
  padding: 1px 4px;
}
.dropdown.multi-select .multi-more{
  left: 1px;
  right: 1px;
  margin-top: 2px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.dropdown.multi-select .multi-more ul li{
  padding: 5px 10px;
  font-size: 12px;
}
.dropdown.multi-select .dropdown-toggle .multi-close .multi-close-icon{
  font-size: 10px;
}
.multi-select.dropdown:focus,
.multi-select.dropdown .dropdown-menu:active:hover,
.multi-select.dropdown .dropdown-menu:focus{
  border-color: #e3e3e3;
  outline: none;
  transition: none;
}
.multi-select.dropdown .dropdown-menu li a{
  padding: 6px 10px;
  white-space: normal;
  word-break: break-word;
}
.multi-select.dropdown .dropdown-menu li a,
.multi-select.dropdown .dropdown-menu li a span.text{
  font-size: 12px;
}
.multi-select.dropdown.show-tick .dropdown-menu li.selected a span.check-mark,
.multi-select.dropdown.show-tick .dropdown-menu li a span.check-mark{
  display: inline-block;
  right: auto;
  left: 10px;
  position: absolute;
  top: 6px;
  margin: 0;
}
.multi-select.dropdown.show-tick .dropdown-menu li a span.check-mark:before{
  content: "\f0c8";
  font-family: "Font Awesome 5 Pro";
}
.multi-select.dropdown.show-tick .dropdown-menu li.selected a span.check-mark:before{
  content: "\f14a";
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  color: #1a4f85;
}
.multi-select.dropdown.show-tick .dropdown-menu li a span.text,
.multi-select.dropdown.show-tick .dropdown-menu li.selected a span.text {
  padding-left: 20px;
  margin: 0;
}



/*custom dropdown style*/
.custom-dropdown .btn{
  margin: 0;
  padding-left: 35px;
  position: relative;
  border-color: #d7dde1;
}
.custom-dropdown .btn .caret{
  position: absolute;
  width: 24px;
  height: 22px;
  border: 0;
  border-left: 1px solid #d7dde1;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #000;
  padding-top: 1px;
}
.custom-dropdown .btn:hover,
.custom-dropdown .btn:active,
.custom-dropdown .btn:active:focus,
.custom-dropdown .btn:focus{
  background-color: #fff;
  border-color: #d7dde1;
  color: #000;
}
.custom-dropdown .dropdown-menu{
  border-radius: 0;
  padding: 0;
  border-color: #dee2e3;
}
.custom-dropdown .dropdown-menu li + li{
  border-top: 1px solid #ebebeb;
}
.custom-dropdown .dropdown-menu li a{
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
.custom-dropdown .dropdown-menu li a:hover{
  background-color: #f4f8fb;
}
.custom-dropdown .dropdown-menu li a.disabled{
  color: #ddd !important;
  cursor: not-allowed;
  background-color: #fff !important;
}

/*custom-fields*/
.custom-search,
.custom-username,
.custom-password,
.custom-timepicker,
.custom-datepicker{
  position: relative;
}
.custom-search input,
.custom-username input,
.custom-timepicker input,
.custom-password input,
.custom-datepicker input{
  padding-right: 30px;
}
.custom-search:after {
  content: '\f002';
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 13px;
  color: #808080;
  font-weight: 400;
  pointer-events:none;
}
.custom-timepicker:after {
  content: '\f017';
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  pointer-events:none;
}
.custom-datepicker:after {
  content: "\f133";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  pointer-events:none;
}
.custom-username:after {
  content: "\f007";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.custom-password:after {
  content: "\f023";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

/* Modal Popup Style Start */
.custom-popup {
  text-align: center;
  padding: 0!important;
}
.custom-popup:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.custom-popup .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.confirmation-modal .modal-dialog {
  width: 400px;
}
.custom-popup .modal-content {
  width: 100%;
  float: left;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}
.custom-popup .modal-header {
  padding: 0;
  min-height: 36px;
  border-bottom: 1px solid #dbe2e8;
}
.custom-popup .tab-white{
  float: left;
  width: auto;
}
.custom-popup .tab-white .nav-tabs{
  height: 35px;
  border-bottom: 0;
}
.custom-popup .tab-white .nav-tabs li a{
  height: 35px;
  padding: 10px 15px;
}
.custom-popup .modal-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
}
.custom-popup .modal-header .close {
  opacity: 1;
  padding: 0;
  margin: 9px 12px 8px;
  text-align: center;
  color: #000;
}
.custom-popup.right .modal-header .close{
  margin: 0;
  padding: 9px 12px 8px;
  border-left: 1px solid #dbe2e8;
}
.custom-popup.right .modal-header h4{
  text-transform: capitalize;
}
.custom-popup .modal-header .close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.custom-popup .modal-header .close:focus {
  outline: none;
}
.custom-popup .modal-header .modal-search {
  width: 165px;
  position: absolute;
  right: 36px;
  top: 0;
}
.custom-popup .modal-header .modal-search .form-group {
  margin-bottom: 0;
  position: relative;
}
.custom-popup .modal-header .modal-search .form-group .form-control {
  padding-right: 30px;
  border: 1px solid #dbe2e8;
  border-top: transparent;
  border-bottom: transparent;
  height: 35px;
}
.custom-popup .modal-header .modal-search .custom-search:after{
  bottom: 8px;
}
.custom-popup .modal-body.no-padding{
  padding: 0;
}
.custom-popup .modal-body {
  padding: 10px;
  width: 100%;
  float: left;
  max-height: calc(100vh - 143px);
  overflow: auto;
}
.custom-popup input[type='text'] {
  outline: none !important;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-popup .modal-footer {
  width: 100%;
  float: left;
  padding: 7px 10px;
  background: #f4f8fb;
  border-top: 1px solid #dbe2e8;
}
.custom-popup .modal-footer .btn {
  height: 30px;
  padding: 5px 10px;
  padding-bottom: 7px;
  min-width: 130px;
}
.custom-popup .modal-footer .mandatory-label{
  float: left;
  font-size: 12px;
  font-weight: 400;
  color: #808080;
  padding-top: 7px;
}
.custom-popup .modal-dialog.no-footer .modal-body{
  max-height: calc(100vh - 98px);
}
/*custom modal from right styles*/
.custom-popup.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 90%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.custom-popup.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border: 0;
}
.custom-popup.right .no-footer .modal-body{
  height: calc(100% - 36px);
}
.custom-popup.right .modal-body{
  height: calc(100% - 81px);
  max-height: unset;
}
.custom-popup.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.custom-popup.right.fade.in .modal-dialog {
  right: 0;
}
/*common right slider popup styels*/
.slider-common.custom-popup{
  text-align: left;
  float: left;
  width: 100%;
}
.slider-common.custom-popup .modal-header{
  float: left;
  width: 100%;
}
.slider-common.custom-popup .modal-header h4{
  text-transform: capitalize;
}
.slider-common.custom-popup .modal-header .close{
  margin: 0;
  padding: 9px 12px 8px;
  border-left: 1px solid #dbe2e8;
}
.slider-common.custom-popup .modal-body{
  height: calc(100vh - 81px);
  max-height: calc(100vh - 81px);
  overflow-y: auto;
}
.slider-common.custom-popup .modal-footer{
  text-align: right;
}
.slider-common.custom-popup .modal-footer .btn + .btn{
  margin-left: 5px;
}

/* Vertical Tab Style Start */
.vertical-tabs {
  float: left;
  width: 100%;
}
.vertical-tabs .v-tab-left,
.vertical-tabs .v-tab-right {
  float: left;
  height: 412px;
  border-left: 1px solid #d5dee5;
  border-right: 1px solid #d5dee5;
}
.vertical-tabs .v-tab-left {
  width: 175px;
  background: #f7f9fb;
}
.vertical-tabs .v-tab-right {
  width: calc(100% - 175px);
  border-left: none;
}
.vertical-tabs .v-tab-left .nav-tabs {
  border-bottom: transparent;
}
.vertical-tabs .v-tab-left .nav-tabs>li {
  float: left;
  width: 100%;
  margin: 0;
}
.vertical-tabs .v-tab-left .nav-tabs>li>a {
  margin-right: 0;
  line-height: 1;
  border: none;
  border-bottom: 1px solid #dee5eb;
  border-radius: 0;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  position: relative;
}
.vertical-tabs .v-tab-left .nav-tabs>li>a:hover,
.vertical-tabs .v-tab-left .nav-tabs>li.active>a,
.vertical-tabs .v-tab-left .nav-tabs>li.active>a:hover,
.vertical-tabs .v-tab-left .nav-tabs>li.active>a:focus {
  color: #015079;
  background: #fff;
  border: none;
  border-bottom: 1px solid #dee5eb;
}
.vertical-tabs .v-tab-left .nav-tabs>li>a i {
  min-width: 17px;
}
.vertical-tabs .v-tab-left .nav-tabs>li.active>a:before,
.vertical-tabs .v-tab-left .nav-tabs>li.active>a:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
}
.vertical-tabs .v-tab-left .nav-tabs>li.active>a:before {
  left: -1px;
  background: #1a4f85;
}
.vertical-tabs .v-tab-left .nav-tabs>li.active>a:after {
  right: -1px;
  background: #fff;
}
.vertical-tabs.v-tab-menu .v-tab-left {
  width: 233px;
  padding: 10px;
}
.vertical-tabs.v-tab-menu .v-tab-right {
  width: calc(100% - 233px);
}
.vertical-tabs.v-tab-menu .v-tab-left,
.vertical-tabs.v-tab-menu .v-tab-right {
  height: 280px;
}
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li>a {
  background: #fff;
  border: 1px solid #d7dee5;
  border-bottom: 1px solid #d7dee5;
  padding: 15px 10px;
  margin-bottom: 3px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li:last-child>a {
  margin-bottom: 0;
}
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li>a:hover,
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li.active>a,
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li.active>a:hover,
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li.active>a:focus {
  color: #1a4f85;
  background: #fff;
  border: 1px solid #99adc2;
  border-bottom: 1px solid #99adc2;
}
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li.active>a:before,
.vertical-tabs.v-tab-menu .v-tab-left .nav-tabs>li.active>a:after {
  display: none;
}

/*scrolling tab styles common*/
.scrtabs-tab-container,
.scrtabs-tabs-fixed-container,
.scrtabs-tab-scroll-arrow {
  height: 36px;
}
.scrtabs-tab-scroll-arrow {
  border: 1px solid #eaecee;
  color: #e2e4e6;
  border-top: 0;
}
.scrtabs-tab-scroll-arrow:hover,
.scrtabs-tab-scroll-arrow:focus {
  color: #1a4f85;
  background-color: #fff;
}
.scrtabs-tab-scroll-arrow {
  width: 18px;
  height: 36px;
  padding: 0;
  position: relative;
}
.scrtabs-tab-scroll-arrow .glyphicon-chevron-left:after,
.scrtabs-tab-scroll-arrow .glyphicon-chevron-right:after{
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
  position: absolute;
  top: 9px;
  font-weight: 400;
}
.scrtabs-tab-scroll-arrow .glyphicon-chevron-left:after{
  content: "\f053";
  left: 5px;
}
.scrtabs-tab-scroll-arrow .glyphicon-chevron-right:after{
  content: "\f054";
  right: 5px;
}

/*Tab light blue style*/
.tab-light-blue{
  width: 100%;
  float: left;
}
.tab-light-blue .nav-tabs{
  height: 36px;
  background-color: #edf2f9;
  border-bottom: 1px solid #e1e8ef;
}
.tab-light-blue .nav-tabs li{
  position: relative;
  border-right: 1px solid #e1e8ef;
}
.tab-light-blue .nav-tabs li.active:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #1a4f85;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tab-light-blue .nav-tabs>li>a{
  padding: 8px 20px;
  min-width: 100px;
  font-weight: 600;
  text-align: center;
  margin-right: 0;
  color: #808080;
  font-size: 13px;
  border-width: 0 0 2px 0;
  height: 36px;
  line-height: 20px;
}
.tab-light-blue .nav-tabs>li>a:hover,
.tab-light-blue .nav-tabs>li>a:focus,
.tab-light-blue .nav-tabs>li.active>a,
.tab-light-blue .nav-tabs>li.active>a:hover,
.tab-light-blue .nav-tabs>li.active>a:focus{
  border-width: 0 0 2px 0;
  color: #1a4f85;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-color: transparent;
  border-bottom-color: transparent;
}

/*Tab white style*/
.tab-white{
  width: 100%;
  float: left;
}
.tab-white .nav-tabs {
  height: 32px;
  background-color: #fff;
  border-bottom: 1px solid #dae2e8;
}
.tab-white .nav-tabs li{
  border-right: 1px solid #eaecee;
}
.tab-white .nav-tabs li a {
  font-size: 13px;
  font-weight: 600;
  color: #808080;
  height: 32px;
  border-radius: 0;
  margin-right: 0;
  line-height: 15px;
  padding: 8px 15px;
  position: relative;
  border-width: 0 0 2px 0;
}
.tab-white .nav-tabs li a span{
  font-weight: 600;
}
.tab-white .nav-tabs>li.active>a,
.tab-white .nav-tabs>li.active>a:hover,
.tab-white .nav-tabs>li.active>a:focus,
.tab-white .nav-tabs>li>a:focus {
  border-width: 0 0 2px 0;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  color: #1a4f85;
}
.tab-white .nav-tabs>li>a:hover {
  border-color: transparent;
  border-width: 0 0 2px 0;
  background-color: transparent;
  color: #1a4f85;
}
.tab-white .nav-tabs li.active:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #1a4f85;
  position: absolute;
  left: 0;
  bottom: 0px;
}
.tab-white .scrtabs-tab-scroll-arrow {
  height: 32px;
}
.tab-white .scrtabs-tab-scroll-arrow .glyphicon-chevron-left:after,
.tab-white .scrtabs-tab-scroll-arrow .glyphicon-chevron-right:after{
  top: 8px;
}

/*normal listing-table without border space styles*/
.table-wrap{
  border: 1px solid #d7dee5;
  overflow: auto;
}
.table-wrap table.listing-table{
  border-spacing: 0;
  margin: 0;
}
.table-wrap table.listing-table thead th{
  background-color: #f4f8fb;
  border-right: 1px solid #d5dee5;
  border-bottom: 1px solid #d5dee5;
  color: #8b959e;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  white-space: nowrap;
}
.table-wrap table.listing-table tbody td{
  border-right: 1px solid #d5dee5;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 0;
  border-top: 0;
  padding: 0 10px;
  vertical-align: middle;
  height: 30px;
  color: #000;
  white-space: nowrap;
}
.table-wrap table.listing-table tfoot td{
  border-right: 1px solid #d5dee5;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  vertical-align: middle;
  height: 30px;
  color: #000;
  white-space: nowrap;
}
.table-wrap table.listing-table td .bootstrap-select,
.table-wrap table.listing-table td .bootstrap-select > .btn,
.table-wrap table.listing-table td .form-control{
  border: 0;
  background-color: transparent;
  height: 28px;
  transition: none;
  padding: 5px 0;
  font-size: 12px;
}
.table-wrap table.listing-table td .custom-datepicker .form-control,
.table-wrap table.listing-table td .custom-search .form-control{
  padding-right: 20px;
  min-width: 85px;
}
.table-wrap table.listing-table td .custom-datepicker:after,
.table-wrap table.listing-table td .custom-search:after{
  right: 0px;
  bottom: 4px;
}
.table-wrap table.listing-table td .bootstrap-select {
  padding: 0;
}
.table-wrap table.listing-table td .bootstrap-select > .btn,
.table-wrap table.listing-table td .bootstrap-select > .btn:focus{
  padding: 6px 20px 6px 0px;
}
.table-wrap table.listing-table td .bootstrap-select.dropdown .dropdown-toggle .caret{
  right: 2px;
}
.table-wrap table.listing-table thead th:first-child,
.table-wrap table.listing-table tbody td:first-child{
  border-left: 0;
}
.table-wrap table.listing-table thead th:last-child,
.table-wrap table.listing-table tbody td:last-child,
.table-wrap table.listing-table tfoot td:last-child{
  border-right: 0;
}
.table-wrap table.listing-table tbody tr:nth-child(even){
  background-color: #f4f8fb;
}
.table-wrap table.listing-table thead th.sorting,
.table-wrap table.listing-table thead th.sorting_asc,
.table-wrap table.listing-table thead th.sorting_desc{
  padding-right: 25px;
  background-position: top 5px right 5px;
  background-repeat: no-repeat;
}
.table-wrap table.listing-table thead th.sorting {
  /* background-image: url(../img/sort_both.png); */
}
.table-wrap table.listing-table thead th.sorting_asc {
  /* background-image: url(../img/sort_asc.png); */
}
.table-wrap table.listing-table thead th.sorting_desc {
 /* background-image: url(../img/sort_desc.png); */
}
/*Table common space style*/
.table-wrap {
  width: 100%;
  float: left;
}
.table-wrap .table-body {
  max-height: 227px;
  overflow: auto;
}
.table-wrap .table-head {
  overflow: hidden;
}
.table-wrap .table-head .table,
.table-wrap .table-body .table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px 3px;
  margin-top: -3px;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
}
.table-wrap .table-head .table {
  border-spacing: 0;
  margin: 0;
}
.table-wrap .table-head .table thead th,
.table-wrap .table-body .table tbody td {
  max-width: 100%;
  width: 115px;
  background: #fff;
  padding: 5px 10px;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  vertical-align: middle;
  position: relative;
  border-top: 1px solid #d7dee5;
  border-bottom: 1px solid #d7dee5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-wrap .table-head .table thead th {
  padding: 6px 10px;
  color: #8b959e;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  border-top: 1px solid #d7dee5 !important;
  border-bottom: 1px solid #d7dee5;
  background-color: #f7fbfc;
  white-space: nowrap;
}
.table-wrap .table-head .table thead th:first-child,
.table-wrap .table-body .table tbody td:first-child {
  border-left: 1px solid #d7dee5!important;
}
.table-wrap .table-head .table thead th:last-child,
.table-wrap .table-body .table tbody td:last-child {
  border-right: 1px solid #d7dee5!important;
}

/*datatable*/
.table-wrapper .table{
  border-spacing: 0 3px;
  min-width: 100%;
  margin: 0;
}
.table-wrapper .table>thead>tr>th,
.table-wrapper .table>tbody>tr>td {
  vertical-align: middle;
  border-top: 1px solid #d7dee5;
  border-bottom: 1px solid #d7dee5;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
}
.table-wrapper .table>thead>tr>th span,
.table-wrapper .table>tbody>tr>td span{
  font-weight: 600;
  font-size: 12px;
}
.table-wrapper .table>thead>tr>th{
  font-weight: 600;
  font-style: italic;
  color: #8b959e;
  font-size: 12px;
  white-space: nowrap;
  border-top: 0;
  border-bottom: 1px solid #d7dee5;
}
.table-wrapper .table>thead>tr>th:focus{
  box-shadow: none;
  outline: none;
}
.table-wrapper .table>tbody>tr>td{
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  position: relative;
  line-height: 14px;
}
.table-wrapper .table>tbody>tr.expanded,
.table-wrapper .table>tbody>tr.expanded td{
  background-color: #1a4f85;
}
.table-wrapper .table>tbody>tr td .form-control,
.table-wrapper .table>tbody>tr td .bootstrap-select,
.table-wrapper .table>tbody>tr td .bootstrap-select .btn{
  background-color: transparent;
}
.table-wrapper .table>tbody>tr.expanded > td,
.table-wrapper .table>tbody>tr.expanded td .form-control,
.table-wrapper .table>tbody>tr.expanded td .right-arrow i,
.table-wrapper .table>tbody>tr.expanded td.actions-td i,
.table-wrapper .table>tbody>tr.expanded td.actions-td i:hover,
.table-wrapper .table>tbody>tr.expanded td .checkbox .text:before,
.table-wrapper .table>tbody>tr.expanded td .bootstrap-select .btn{
  color: #fff;
  border-color: #1a4f85 !important;
}
.table-wrapper .table>thead>tr>th,
.table-wrapper .table>thead:first-child>tr:first-child>th {
  background-color: #f7fbfc;
}
.table-wrapper .table>thead>tr>th:first-child,
.table-wrapper .table>tbody>tr>td:first-child {
  border-left: 1px solid #d7dee5;
}
.table-wrapper .table>thead>tr>th:last-child {
  border-right: 0;
}
.table-wrapper .table>tbody>tr>td:last-child {
  border-right: 1px solid #d7dee5;
}
.table-wrapper .table .checkbox,
.table-wrapper .table .radio {
  display: inline-block;
  margin: 0;
}
.table-wrapper .table .radio label,
.table-wrapper .table .checkbox label {
  min-height: 13px;
  padding-left: 10px;
  margin-bottom: 0;
  float: left;
  height: auto;
}
.table-wrapper .table .checkbox input[type=checkbox]~.text:before,
.table-wrapper .table .radio input[type=radio]~.text:before {
  top: 3px;
  width: 10px;
  height: 10px;
  font-size: 11px;
  line-height: 12px;
}
.table-wrapper table.dataTable thead .sorting .texts,
.table-wrapper table.dataTable thead .sorting_asc .texts,
.table-wrapper table.dataTable thead .sorting_desc .texts {
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: top 0px right -5px;
}
.table-wrapper table.dataTable thead .sorting .texts {
/*  background-image: url(../img/sort_both.png); */
}
.table-wrapper table.dataTable thead .sorting_asc .texts {
  /* background-image: url(../img/sort_asc.png); */
}
.table-wrapper table.dataTable thead .sorting_desc .texts {
  /* background-image: url(../img/sort_desc.png); */
}
.table-wrapper table.dataTable thead .no-sort {
  background-image: none;
  padding-right: 10px;
}
.table-wrapper table.dataTable.no-footer {
  border-bottom: transparent;
  margin: 0;
}
.table-wrapper .table>tbody>tr.tr-checked{
  background-color: #fff;
}
.table-wrapper .table>tbody>tr.tr-checked td {
  border-color: #a4c1de;
}
.table-wrapper .table>tbody>tr.selected{
  background-color: #f4f8fb;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
  border-bottom: 0;
}
.table-wrapper .dataTables_scrollHead{
  border-top: 1px solid #d7dee5 !important;
  border-bottom: 1px solid #d7dee5 !important;
  border-right: 1px solid #d7dee5 !important;
  background-color: #f7fbfc;
}
.table-wrapper .dataTables_scrollHead .table{
  border-spacing: 0;
}
.table-wrapper .dataTables_scrollHead .table>thead>tr>th,
.table-wrapper .dataTables_scrollHead .table>thead>tr>td{
  border-bottom: 0;
}
.table-wrapper .dataTables_scrollBody .table.dataTable{
  margin-top: -3px;
}
.table-wrapper .dataTables_wrapper .dataTables_processing{
  z-index: 9;
  margin: 0;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  font-weight: 600;
}
.table-wrapper .dataTables_wrapper td.dataTables_empty:before{
  content: '';
  width: 55px;
  height: 58px;
/*  background: url(../../../images/no-data-img.png) no-repeat; */
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.table-wrapper .bottom{
  float: left;
  width: 100%;
  border: 1px solid #d7dee5;
  background-color: #fff;
}
.table-wrapper .table>tbody>tr>td .bootstrap-select.form-control .btn .caret{
  right: 6px;
}
.table-wrapper .table>tbody>tr>td .bootstrap-select.form-control{
  width: 130px;
}
.table-wrapper .table>tbody>tr>td .bootstrap-select.form-control .btn{
  border: 0;
  padding: 6px 20px 6px 0px;
  transition: none;
  background-color: transparent;
  width: 130px;
}
.table-wrapper .table>tbody>tr>td .bootstrap-select.form-control .btn .filter-option{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-wrapper .dataTables_wrapper .dataTables_length {
  float: right;
  padding: 5px 8px;
  line-height: 20px;
}
.table-wrapper .dataTables_wrapper .dataTables_length label {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 12px;
}
.table-wrapper .dataTables_wrapper .dataTables_length select {
  height: 20px;
  padding: 0px;
  font-style: normal;
  color: #000;
  width: 45px;
  text-align: left;
  margin-left: 8px;
  background: #fff;
  border: 1px solid #fff;
  float: right;
}
.table-wrapper .dataTables_wrapper .dataTables_length select:focus {
  outline: none !important;
}
.table-wrapper .dataTables_wrapper .dataTables_info,
.table-wrapper .dataTables_wrapper .dataTables_length {
  padding-top: 0;
  padding: 7px 8px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #75787d !important;
}
.table-wrapper .dataTables_wrapper .dataTables_info,
.table-wrapper .dataTables_wrapper .dataTables_length {
  padding-top: 0;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #75787d !important;
}
.table-wrapper .dataTables_wrapper .dataTables_info {
  padding: 7px 8px;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate {
  padding-top: 0px;
  padding: 6px 0px;
  padding-right: 4px;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button {
  height: 18px;
  padding: 1px 5px;
  margin-left: 3px;
  color: #8b959e !important;
  border: transparent;
  border-radius: 1px;
  background: #fff;
  font-size: 12px;
  height: 19px;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  position: relative;
  overflow: hidden;
  display: inline-table;
  text-indent: -99999px;
  width: 20px;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #8b959e !important;
  background: #fff;
  cursor: not-allowed;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: transparent;
  background-color: #1a4f85;
  background: #1a4f85;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  position: relative;
  overflow: hidden;
  display: inline-table;
  text-indent: -99999px;
  width: 20px;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.previous:after,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.next:after {
  content: '';
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  right: 6px;
  top: 4px;
  color: #8b959e;
  font-size: 9px;
  z-index: 25;
  text-indent: initial;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover:after,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover:after,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover:focus,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover:focus{
  color: #fff;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.previous:after {
  content: '\f323';
  right: 7px;
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.next:after {
  content: '\f324';
}
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:after,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover:after,
.table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active:after {
  color: #8b959e;
}

/* Right Pop-up */
.common-right-popup *{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.common-popup-backdrop{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background-color: #000;
  opacity: 0;
}
.common-right-popup{
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  -webkit-transition: opacity 0.5s linear, right 0.5s ease-out;
  -moz-transition: opacity 0.5s linear, right 0.5s ease-out;
  -o-transition: opacity 0.5s linear, right 0.5s ease-out;
  transition: opacity 0.5s linear, right 0.5s ease-out;
  -moz-box-shadow: 0 0 15px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.common-right-popup.right-popup-small{
  width: 350px;
  right: -450px;
  max-width: 100%;
}
.common-right-popup.right-popup-medium{
  width: 991px;
  right: -1100px;
  max-width: 100%;
}
.common-right-popup.right-popup-large{
  width: 80%;
  right: -90%;
}
.common-right-popup.right-popup-wide{
  width: 90%;
  right: -100%;
}
.common-right-popup .btn-close{
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  padding: 12px;
  width: 35px;
  text-align: center;
  border-top: 0;
  border: transparent;
  background: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 6px;
}
.common-right-popup .btn-close:hover,
.common-right-popup .btn-close:focus{
  box-shadow: none;
}
.common-right-popup .popup-body{
  float: left;
  width: 100%;
  background: #fff;
}
.right-window-open{
  overflow: hidden;
}
.common-right-popup iframe{
  height: 100vh;
  width: 100%;
  display: block;
  border: 0;
}

/* Common Header Style Start */
.common-header {
  height: 35px;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #d7dde1;
}
.common-header h6 {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  line-height: 1;
}
/* Common Header Style End */

/* Common Footer Style Start */
.common-footer {
  float: left;
  width: 100%;
  background: #f7f9fb;
  border-top: 1px solid #e7e7e7;
  padding: 7px 10px;
  text-align: right;
}
.common-footer .btn {
  min-width: 92px;
  margin-left: 8px;
}
/* Common Footer Style End */

/*no data styles start*/
.no-data{
  height: 100px;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  float: left;
  width: 100%;
}
.no-data:before{
  content: '';
  width: 55px;
  height: 58px;
/*  background: url(../../../images/no-data-img.png) no-repeat; */
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  position: static;
}
/*no data styles end*/
